@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300;400;500;700&display=swap');

body {
  background-color: black;
  font-family: KoHo, sans-serif;
  font-size: 20px;
  color: white;
  line-height: 1.5;
  margin: 0;
}

.menu {
  line-height: 3;
  font-family: KoHo, sans-serif;
  font-size: 20px;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

li {
  display: inline;
  padding-right: 2em;
}

section {
  padding: 50px 15%;
  padding-top: 50px;
  padding-right: 15%;
  padding-bottom: 50px;
  padding-left: 15%;
}
section {
  display: block;
  background-color: red;
}

.projekt {
  color: black;
}

.julia {
  background-color: blue;
  color: yellow;
}
.julia-foto {
  width: 200px;
  border-radius: 50%;
  float: left;
  margin: 0 30px 30px 0;
}
.zuzana {
  background-color: yellow;
  color: blue;
}

footer {
  display: block;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  font-family: KoHo, sans-serif;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
  width: 10%;
}
